h1 Login
form(method="POST")
  input(name="id" placeholder="userid")
  input(type="password" name="passphrase" placeholder="passphrase")
  input(type="submit" value="login")
  input(type="hidden" name="scopes" value="request_api,request_proxy,create_proxy")